* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aquamarine;
}

#outer {
    width: 90%;
    height: 600px;
    background-color: rgb(248, 189, 28);
    margin: auto;
}

#inner {
    width: 80%;
    height: 500px;
    background-color: bisque;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

#inner div {
    width: 200px;
    height: 200px;
    background-color: azure;
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}